<div class='card'>
  <div class="row border border-light shadow-sm">
    <div class="col-9">
        <p class="text-muted fs-5 py-3 ps-4">Category <%= @group.name %>:</p>
    </div>
    <div class="col-3">
        <p class="card-text py-3"><small class="fs-5 p-3">$<%= entities_total(@group) %></small></p> 
    </div>
  </div>
  <% if @group.group_entities.empty? %>
      <p class="text-muted fs-5 py-3 ps-4">No transactions found in this category.</p>
  <% end %>
  <% if @group.user_id == @user %>
    <% @group.group_entities.reverse_order.each do |entity|%>
        <div class="card-body container">
          <div class="card justify-content-center shadow rounded-3">
            <div class="row g-0">
              <div class="col-3">
                <img src="<%= @group.icon %>" class="img-fluid rounded-start p-4" alt="...">
              </div>
              <div class="col-6 d-flex align-items-center">
                <div class="card-body ">
                  <h5 class="card-title text-secondary"><%= entity_name(entity) %></h5>
                  <p class="card-text mt-4 text-black-50"><%= entity_created_at(entity) %></p>
                </div>
              </div>
              <div class="col-3 d-flex align-items-center">
                <div class="card-body">
                  <p class="card-text"><small class="fs-5 p-3">$<%= entity_amount(entity) %></small></p> 
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
<div class="bg-success d-flex justify-content-center">
  <%= button_to "Add New Transaction", entity_new_path(), method: :get, class: 'btn btn-success px-4 py-2 m-4 border-white border-2 rounded-3 fs-3' %>
</div>